/* SIDEBAR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    width: 112px;
    height: 800px;
    background: #062863;
    border: 1px solid #fff;
    color: #fff;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 97%;
}

.sidebar-nav {
    margin-top: 51px;
    margin-bottom: 76px;
    cursor: pointer;
    display: inline-block;

}

.sidebar-toggle {
    background-color: #fff;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    display: block;
    position: relative;
    
}

.sidebar-toggle::before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    background-color: #fff;
    width: 30px;
    height: 3px;
    border-radius: 2px;
}

.sidebar-toggle::after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    background-color: #fff;
    width: 30px;
    height: 3px;
    border-radius: 2px;
}

.sidebar-list-div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 22px 0;
    cursor: pointer;
}

/* .sidebar-icon {
    height: 30px;
    width: 30px;
    display: inline-block;
} */

.signout {
    margin-top: auto;
    margin-bottom: 57px;
}

.active {
    background-color: #fff;
    display: block;
    border-radius: 15px 0px 0px 15px;
    display: flex;
}

.active svg{
    fill: #062863;
}










.safelock-top {
    margin-top: -55%;
}

.safelock-top h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    margin-left: 100px;
    color: #0D60D8;
}
.safelock-top .tab-routes {
    border-bottom: 1px solid #ccc;;
    padding: 0 24px;
    margin-left: 50px;
}
.safelock-top .tab-routes span {
    padding: 8px 22px;
    color: #4A5568;
}
.safelock-top .tab-routes span.active {
    border-bottom: 3px solid #0D60D8;
}
.safelock-mid-balance-sheet {
    margin-top: 40px;
    margin-left: 170px;
}
.safelock-mid-balance-sheet .balance {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px 5px 0 0;
    margin-bottom: 20px;
}
.safelock-mid-balance-sheet .balance .amount {
    padding: 6px 20px;
    font-size: 42px;
    line-height: 84px;
    color: #0D60D8;
}
.safelock-mid-balance-sheet .balance .options {
     font-size: 16px;
     text-align: center;
     color: #0D60D8;
    border: 1px solid #C4C4C4;
    padding: 10px;
}
.safelock-mid-balance-sheet .my-safelocks {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px 5px 0 0;
    margin-bottom: 20px;
    padding: 9px 32px;
}
.safelock-mid-balance-sheet .my-safelocks h6 {
    color: #0D60D8;
    font-size: 16px;
    padding: 0 4px;
}
.safelock-mid-balance-sheet .my-safelocks button.my-safelocks.active {
    border-radius: 15px 15px 15px 0;
    background-color: #0D60D8;
    border: 1px solid #0D60D8;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    padding: 4px 32px;
}
.safelock-mid-balance-sheet .my-safelocks button.my-safelocks:hover {
    border-radius: 15px 15px 15px 0;
    background-color: #0D60D8;
    border: 1px solid #0D60D8;
    color: white;
    transition: ease 0.5s;
}
.safelock-mid-balance-sheet .my-safelocks button.my-safelocks {
    border-radius: 15px 15px 15px 0;
    border: 1px solid #4A5568;
    color: black;
    width: 100%;
    margin-bottom: 20px;
    padding: 4px 32px;
}
.safelock-mid-balance-sheet .interest-calculator {
    border-radius: 15px 15px 15px 0;
    background-color: #083E9E;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    padding: 4px 32px;
}
.safelock-mid-balance-sheet .interest-rate {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px 5px 0 0;
    padding: 6px 20px;
}
.safelock-mid-balance-sheet .interest-rate div:nth-child(1) {
    font-size: 12px;
    color: #1F2430;
}
.safelock-mid-balance-sheet .interest-rate div:nth-child(2) {
    font-size: 22px;
    color: #0D60D8;
}
.safelock-mid-balance-sheet .interest-rate div:nth-child(3) {
    font-size: 10px;
    color: #B5B5B5;
}
.my-safelocks .my-safelocks-content {
    width: 65%;
    margin: auto;
}
.my-safelocks .my-safelocks-content h4 {
    color: #0D60D8;
    font-size: 36px;
    text-align: center;
}
.my-safelocks .my-safelocks-content p {
    color: #062863;
    font-size: 16px;
    text-align: center;
}
.my-safelocks .my-safelocks-content button.active {
    background-color: #0D60D8;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    padding: 8px;
    border-radius: 15px 15px 15px 0;
    width: 100%;
    margin-bottom: 24px;
}
.my-safelocks .my-safelocks-content button:hover {
    background-color: #0D60D8;
    color: white;
    transition: ease 0.7s;
}
.my-safelocks .my-safelocks-content button {
    background-color: white;
    color: #0D60D8;
    font-size: 16px;
    font-weight: bolder;
    padding: 8px;
    border-radius: 15px 15px 15px 0;
    border: 1px solid #0D60D8;
    width: 100%;
    margin-bottom: 24px;
}









/*PAYMENT*/
.form-section {
    margin: 200px auto;
    background-color: #fff;
    padding: 40px 20px 80px 20px;
    color: #05294e;
    font-weight: 700;
    width: 40%;
    height: 100%;
    box-shadow: 0px 2px 10px hsl(229, 6%, 66%);

}

.form-header {
    font-weight: 700;
    font-size: 2em;
}


.form-para {
    color: #b5b5b5;
}

.col-md-3 {
    max-width: 100%;
    margin: auto;
}

.custom-select {
    font-weight: 700;
    background-color:#dfdbdb;
    


}

.amount {
    color: #05294e;
}


.btn {
    font-weight: 700;
    background-color: #0b3d94;
    color: #fff;
    border: none;
    width: 100%;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

.btn:hover {
    background-color: #05294e;
    border: none;
    outline: none;

}


/* For Desktops */
@media only screen and (max-width: 1100px) {
    .form-section {
        min-width: 80%;
    }
}

/*For Large Tablets */
@media (min-width: 768px) and (max-width: 1010px) {
    .form-section {
        min-width: 80%;
    }
}

/*Small phones to small tablets: from 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    .form-section {
        min-width: 90%;
    }
    
}


/*Small phones: from 371px to 480px */
@media only screen and (max-width: 480px) {
    .form-section {
        min-width: 90%;
    }
    
}
